<%= form_with(model:[:admins, product]) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title ,class:"form-control"  %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description ,class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :stock %>
    <%= form.number_field :stock ,class:"form-control" %>
  </div>
  
  <div class="field">
    <%= form.label :categories %>
    <%= form.collection_select :category_ids, Category.order(:name), :id, :name, {}, class:"form-control", multiple: true    %>
  </div>
  <div class="field">
    <%= form.label :status %>
    <%=  form.select :status , Product.statuses.keys.map {|u| [u.titleize, u]}, {}, class:"form-control"%>
  </div>
  <p>
  <strong>Primary image</strong>
  <% if product.primary_image.attached? %>

  <%= image_tag product.primary_image , width: "300px" , height: "300px" %>
  <%= form.label :remove_primary_image %>
  <%= form.check_box(:remove_primary_image) %>



<% end %>
  
</p>


<p>
  <strong>Supporting images</strong>
  <% if product.supporting_images.attached? %>
  <% product.supporting_images.each do |image| %>
   




 <%= image_tag image , width: "50px" , height: "50px" %>
  <%end%>
  <%= form.label :remove_supporting_images %>
  <%= form.check_box(:remove_supporting_images) %>
<%end%>
</p>


  <div class="field">
  <%= form.label :primary_image %>
  <%=  form.file_field :primary_image %>
</div>

<div class="field">
<%= form.label :supporting_images %>
<%=  form.file_field :supporting_images , multiple: true %>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
